.header-container {
    padding: 15px 0;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-medium);
}
.header-counter {
    cursor: pointer;
    font-weight: bold;
}